@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    53% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    86% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }